<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/carousel.css') }}" />

    <link rel='stylesheet' href="{{ url_for('static', filename='stylesheets/fontawesome/css/fontawesome.min.css')}}">
    <link rel='stylesheet' href="{{ url_for('static', filename='stylesheets/fontawesome/css/solid.css')}}">

    <title>{% block title %}{% endblock %}</title>

    <script src="{{url_for('static', filename='jquery.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename='poper.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='stylesheets/script.js')}}"></script>

</head>

<body>

 <!-- Nav Bar -->

    <div class="topnav" id="myTopnav">
        <a class="nav-link px-4" href="/" style="font-family: Arial, 'Font Awesome 5 Free'">&#xf015; Home <span class="sr-only">(current)</span></a>
        <a class="nav-link px-4" href="/randomRestaurant" tabindex="-1" style="font-family: Arial, 'Font Awesome 5 Free'">&#xf46d; Find Me A Restaurant!</a>

    <!-- body -->
    {% block content %} {% endblock %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
